/* Mixins */
/* Colors */
/* Basics */
html {
  overflow-x: hidden;
  -webkit-overflow-x: hidden; }

body {
  color: #787f8c;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  -webkit-overflow-x: hidden; }

h1, h2, h3, h4 {
  color: #5c5c5c; }

a {
  transition: all 200ms ease-in-out;
  color: #787f8c; }
  a:hover {
    color: #77ba99;
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.btn-dft {
  font-size: 100%;
  border-radius: 0;
  color: #fff;
  padding: 15px 30px;
  min-width: 210px;
  text-transform: uppercase;
  background-color: #77ba99; }
  .btn-dft:hover {
    color: #fff;
    background-color: #407c5e; }
  .btn-dft:focus {
    color: #fff; }

.btn-outline-primary {
  border: 1px solid #77ba99;
  text-transform: uppercase; }

.flex {
  display: flex;
  align-items: center;
  justify-content: center; }

/*  Title Headings */
.title {
  text-align: center;
  margin-bottom: 40px; }
  .title h2 {
    color: #5c5c5c;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900; }
  .title hr {
    border-width: 3px;
    border-color: #77ba99;
    margin-top: 2em;
    margin-bottom: 1.6em;
    width: 2.167%; }

.title-left-sub {
  text-align: left;
  margin-bottom: 40px; }
  .title-left-sub h2 {
    color: #5c5c5c;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900; }
  .title-left-sub hr {
    border-width: 3px;
    border-color: #77ba99;
    margin-top: 2em;
    margin-bottom: 1.6em;
    margin-right: 100%;
    width: 13%; }

/* Top Bar Styling */
.top-bar {
  text-align: center;
  padding: 15px 0; }
  .top-bar .row {
    line-height: 1; }
  .top-bar ul {
    margin-bottom: 0; }
  .top-bar li {
    margin-right: 40px; }
    .top-bar li i {
      border-radius: 50%;
      color: #77ba99;
      height: 35px;
      width: 35px;
      line-height: 35px;
      font-size: 16px;
      border: 1px solid #77ba99;
      background-color: transparent;
      text-align: center;
      margin-right: 8px; }

/* logo */
.logo {
  padding: 20px 0;
  text-align: center; }
  .logo h3 {
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: #fff; }
  .logo span {
    color: #fff; }
  .logo img {
    margin-bottom: 4px;
    height: 40px;
    width: 40px; }

.logo.logo-header {
  background-color: #77ba99; }

/* Speech Bubbles Styling */
p.triangle-border {
  position: relative;
  padding: 40px;
  margin: 1em 0 3em;
  border: 1px solid #fff;
  color: #fff;
  background: transparent; }
  p.triangle-border i {
    font-size: 40px;
    float: left;
    margin-right: 15px; }
  p.triangle-border::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #fff transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0; }
  p.triangle-border::after {
    content: "";
    position: absolute;
    bottom: -18px;
    left: 41px;
    border-width: 19px 19px 0;
    border-style: solid;
    border-color: #262730 transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0; }

.facebook {
  background-color: #3C599F; }

.twitter {
  background-color: #32CCFE; }

.g-plus {
  background-color: #CF3D2E; }

.icon-social {
  margin-top: 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  transition: transform 150ms linear;
  height: 40px;
  width: 40px;
  border-radius: 50%; }
  .icon-social::before {
    line-height: 40px; }
  .icon-social:hover {
    transform: scale(1.2);
    color: #fff; }

/* Container Fluid */
.container-fluid {
  padding: 0;
  margin: 0; }

/* Container-88 */
.container-88 {
  width: 88%;
  margin: 0 auto; }

/* Section */
.section {
  padding: 40px 0; }

/* Top Bar */
/* Navbar styling */
#nav-menu {
  border-radius: 0;
  border-width: 0;
  z-index: 999;
  margin: 0;
  background-color: #333; }
  #nav-menu .navbar-nav > li > a {
    color: #fff; }
  #nav-menu li.active > a {
    background-color: transparent; }
    #nav-menu li.active > a::after {
      content: "";
      display: block;
      border-bottom: 3px solid #77ba99;
      width: 120%; }

.navbar-nav > li.dropdown.open > a.dropdown-toggle {
  background-color: transparent; }
.navbar-nav > li:hover a::after {
  width: 120%; }
.navbar-nav > li > a::after {
  transform: translateY(3px);
  transition: all 200ms ease-in-out;
  content: "";
  display: block;
  border-bottom: 3px solid #77ba99;
  width: 0; }
.navbar-nav > li > a:hover::after {
  width: 120%; }

#nav-menu.affix {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%; }

.nav.navbar-nav > li {
  margin-right: 30px; }

.jumbotron {
  margin-bottom: 0; }

.container-fluid::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }
.container-fluid section.jumbotron {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0; }

.jumbtron-desc {
  color: #fff;
  padding: 0 10% 0 8%; }

#services div.title-left-sub h2, #services div.title h2 {
  color: #5c5c5c; }
#services .reason-block {
  display: table; }
  #services .reason-block .reason-icon i {
    color: #77ba99;
    margin-right: 20px;
    font-size: 50px;
    position: relative;
    top: 13px; }
  #services .reason-block .reason-text, #services .reason-block .reason-icon {
    display: table-cell; }
#services .tab-pane {
  padding: 50px 0; }
  #services .tab-pane li {
    margin-bottom: 10px;
    display: table; }
    #services .tab-pane li i.fa, #services .tab-pane li p {
      display: table-cell;
      padding-right: 8px; }
  #services .tab-pane h2 {
    color: #77ba99; }
#services img {
  width: 100%;
  margin-bottom: 20px; }
#services .btn.btn-dft {
  display: block; }
#services p.m-bottom {
  margin-bottom: 30px; }
#services .nav.nav-tabs li {
  background-color: #DEE3E1;
  position: relative;
  transition: all 100ms ease-in-out; }
  #services .nav.nav-tabs li:not(.active) {
    border-right: 1px solid #ccc; }
  #services .nav.nav-tabs li:last-child {
    border-right: 0; }
  #services .nav.nav-tabs li i.fa {
    display: block;
    margin-bottom: 5px; }
  #services .nav.nav-tabs li > a {
    text-align: center;
    text-transform: uppercase;
    color: #787B7F;
    border-radius: 0;
    border-top: 1px solid #ddd;
    margin: 0; }
  #services .nav.nav-tabs li.active::after {
    content: "";
    display: block;
    width: 100%;
    border-top: 3px solid #77ba99;
    position: absolute;
    top: 0;
    left: 0; }
  #services .nav.nav-tabs li.active > a {
    color: #77ba99; }

footer {
  color: #fff;
  padding: 40px 0;
  background-color: #262730; }
  footer .footer-nav {
    margin-bottom: 20px;
    text-align: center; }
    footer .footer-nav a {
      margin-right: 2%;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 80%;
      padding-bottom: 2px; }
      footer .footer-nav a:hover {
        transition: all 250ms ease-in-out;
        border-bottom: 1px solid #fff; }
  footer .social-media {
    margin-bottom: 10px;
    text-align: center; }
    footer .social-media i {
      transition: transform 150ms ease-in-out;
      color: #fff;
      margin-right: 15px;
      font-size: 25px; }
      footer .social-media i:hover {
        transform: scale(1.1); }
  footer .branding {
    text-align: center; }

/* Responsive Styles */
@media all and (min-width: 768px) {
  #nav-menu.affix {
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.6); }

  nav.navbar-head li.dropdown:hover > ul.dropdown-menu {
    display: block;
    transition: all 0.2s ease-in-out; }
    nav.navbar-head li.dropdown:hover > ul.dropdown-menu li {
      padding: 8px 0; }
    nav.navbar-head li.dropdown:hover > ul.dropdown-menu a {
      padding: 10px 20px; }

  .open > ul.dropdown-menu {
    display: none; }

  .dropdown-toggle i.fa-angle-double-down {
    margin-left: 5px;
    transform: translateY(3px); }

  ul.nav.navbar-nav li#services-li-m {
    display: none; } }
@media all and (min-width: 992px) {
  #parallax {
    height: 380px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("http://localhost/Otto%27s%20Autos/Assets/Images/Services/services-parallax.jpg"); }
    #parallax .flex {
      height: 100%; }
      #parallax .flex h2 {
        color: #fff;
        font-size: 60px; }

  #services #battery .btn.btn-dft {
    display: inline-block; } }
@media all and (max-width: 320px) {
  .title h2, .title-left-sub h2 {
    font-size: 32px; } }
@media all and (max-width: 767px) {
  /* Navigation */
  .nav > li {
    margin-right: 30px; }
    .nav > li > a {
      padding-left: 30px; }

  #nav-menu {
    background-color: rgba(0, 0, 0, 0.8); }
    #nav-menu #navbar-collapse {
      box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.7); }
    #nav-menu .navbar-toggle {
      margin-right: 30px;
      padding: 15px;
      border-color: #fff;
      color: #fff; }
      #nav-menu .navbar-toggle:hover, #nav-menu .navbar-toggle:focus {
        background-color: transparent; }
      #nav-menu .navbar-toggle .icon-bar {
        background-color: #fff; }

  .container-fluid.flex {
    display: block; }

  #navbar-collapse > ul {
    background-color: #444;
    margin: 0; }
    #navbar-collapse > ul li {
      border-bottom: 2px solid #333; }
      #navbar-collapse > ul li:last-child {
        border: 0; }
      #navbar-collapse > ul li a {
        padding: 15px; }

  ul.nav.navbar-nav li#services-li-d {
    display: none; }

  .angle-rotate {
    transform: rotate(-180deg); }

  #nav-menu .navbar-nav li.active > a::after {
    display: none; }
  #nav-menu .navbar-nav > li > a::after {
    display: none; }
  #nav-menu .navbar-nav .dropdown-toggle i {
    transition: transform 0.2s ease-in-out; }
  #nav-menu .navbar-nav .dropdown-menu li {
    margin-left: 2em; }
    #nav-menu .navbar-nav .dropdown-menu li a {
      color: #fff; }

  #services .panel-group h2 {
    color: #77ba99; }
  #services .panel-group li {
    display: table;
    margin-bottom: 10px; }
    #services .panel-group li i, #services .panel-group li p {
      display: table-cell;
      padding-right: 8px; }
  #services .panel-group .title-left-sub h2 {
    color: #5c5c5c; }
  #services .panel-group .panel.panel-default {
    background-color: #fff;
    border: 1px solid #5c5c5c;
      border-radius: 0; }
  #services .panel-group a {
    text-transform: uppercase;
    display: block;
    padding: 20px; }
    #services .panel-group a:focus {
      text-decoration: none; }
    #services .panel-group a:hover {
      background-color: #77ba99;
      color: #fff; }
  #services .panel-group i.fa {
    margin-right: 10px; }
  #services .panel-group .panel-heading {
    padding: 0; } }
@media all and (max-width: 784px) {
  /* Header */
  .top-bar {
    height: 0;
    display: none; }

  .logo {
    padding-bottom: 20px; } }
@media all and (max-width: 991px) {
  #parallax h2 {
    display: none; }

  #services .title-left-sub {
    margin-bottom: 0; }
  #services #battery .btn.btn-dft, #services #battery-collapse .btn.btn-dft {
    margin-bottom: 40px; } }
@media all and (max-width: 990px) {
  .title hr {
    width: 35%; }

  .title-left-sub {
    text-align: center; }
    .title-left-sub hr {
      width: 15%;
      margin-right: auto; } }

/*# sourceMappingURL=services.css.map */
